@import "tailwindcss";

/* === Requerido para HeroUI + Tailwind v4 === */
@layer theme, base, components, utilities;
/* Plugin de HeroUI (ruta correcta desde app/globals.css) */
@plugin "./styles/hero.ts";
/* Ajusta la ruta según dónde esté este CSS respecto a node_modules */
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}
